<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>GUACAMovie</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
  <div class="wrapper">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="boxoffice.html">GUACAMovie
            
          </a>
        </div>
      </div>
    </nav>
    <div class="hero text-center" color = "white">
      <h1></h1>
      <p></p>
    </div>
    <div class="container">
      <div class="row margin-top-50">
        <div class="col-md-2">
          <aside class="filters">
            <div class="panel panel-default">
              <div class="panel-heading">Filter Search</div>
              <div class="panel-body">
                <div class="form-group">
                  <ul class="list-group" id="filters">
                    <li class="filter list-group-item">
                      <label for="date">Enter a Year</label>
                      <input class="form-control" id="year" type="text" placeholder="2017">
                    </li>
                    <li class="filter list-group-item">
                      <label for="city">Enter a Studio</label>
                      <input class="form-control" id="studio" type="text" placeholder="Uni.">
                    </li>
                    <li class="filter list-group-item">
                      <label for="state">Enter a Rank</label>
                      <input class="form-control" id="rank" type="text" placeholder="11">
                    </li>
                    <li class="filter list-group-item">
                      <label for="country">Look-Up a Movie</label>
                      <input class="form-control" id="title" type="text" placeholder="Star Wars">
                    </li>
                    <li class="filter list-group-item">
                      <label for="shape">XXX</label>
                      <input class="form-control" id="shape" type="text" placeholder="XXX">
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </aside>
        </div>
        <div class="col-md-10">
          <div id="table-area" class="">
            <h1 class="text-center loader" id="loader">DOMESTIC GROSSES Adjusted for Ticket Price Inflation</h1>
            <table id="ufo-table" class="table table-striped">
              <thead>
                <tr>
                  <th class="table-head">Rank</th>
                  <th class="table-head">Title</Title></th>
                  <th class="table-head">Studio</th>
                  <th class="table-head">Adjusted Gross</th>
                  <th class="table-head">Unadjusted Gross</th>
                  <th class="table-head">Year</th>
                  <th class="table-head">Comments</th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <span class="bottom">GUACAMovie</span>
    </footer>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script>
  <script src="../static/js/tabledata.js"></script>
  <script src="../static/js/table.js"></script>
</body>

</html>
