<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Guacamovie</title>
    <link rel="shortcut icon" type="image/png" href="../static/images/avocado.png"/>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/driver.js/dist/driver.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

  </head>
  <body>

    <div class="container">
      <div class="row">
        <div class="jumbotron" style="background-color: lightgreen">
          <h1>Welcome to GuacaMovie!</h1>
          <p>GuacaMovie is an interactive website that visualizes correlations between various movie success measurements based on prior movie data. Follow along and click through the side to gain insights on the movie industry!</p>
        </div>
      </div>
    </div>

    <br>
    <br>
    <br>

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div id="boxes">
            <div id="btns">
              <button class="play"><i class="fa fa-play-circle"></i>DANCE</button>
              <button class="pause"><i class="fa fa-pause-circle"></i>CEASE</button>
            </div>
      <div class="row">
        <div class="col-md-3">
            <div class="box">
                <img src="../static/images/AvocadoMan200.jpg">
            </div>
        </div>
          <div class="col-md-3">
            <div class="box">
                <img src="../static/images/AvocadoMan200.jpg">
            </div>
          </div>
          <div class="col-md-3">
            <div class="box">
                <img src="../static/images/AvocadoMan200.jpg">
            </div>
          </div>
          <div class="col-md-3">
            <div class="box">
                <img src="../static/images/AvocadoMan200.jpg">
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="thumbnail">
            <img src="../static/images/avocado.png" class="img-fluid" alt="Responsive image">
          </div>
        </div>
        <div class="col-md-3">
            <div class="thumbnail" id="giggity">
              <img src="../static/images/boxofficepic.png" alt="BoxOffice">
                <div class="caption">
                  <h3>Adjusted Box Office Gross</h3>
                  <p>This page allows you to view movies' adjusted gross and filter your selections based on year, studio, overall rank, or movie title.</p>
                  <p><a href="/boxoffice" class="btn btn-primary" role="button">Check it out!</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="thumbnail">
              <img src="../static/images/mappic.png" alt="MovieMap">
                <div class="caption">
                  <h3>IMDB Scores By Country</h3>
                  <p>This page allows you to explore the average IMDB score based on the origin country of the production company. Our data goes back to 1986 and includes data from 57 different countries!</p>
                  <p><a href="/moviemap" class="btn btn-primary" role="button">Go to Map!</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="thumbnail">
              <img src="../static/images/avocado.png" class="img-fluid" alt="Responsive image">
            </div>
        </div>
      </div>
      <div class="row">
          <div class="col-md-3">
          </div>
          <div class="col-md-6">
              <div class="thumbnail">
                  <img src="../static/images/budgetpic.png" alt="Budget">
                  <div class="caption">
                    <h3>Budget vs. Runtime/Revenue</h3>
                    <p>This page allows the user to compare movies' budgets against their runtime and overall revenue. Draw what correlations you may!</p>
                    <p><a href="/budget" class="btn btn-primary" role="button">Go to Graph!</a></p>
                  </div>
                </div>
          </div>
          <div class="col-md-3">
          </div>
        </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

      <!-- Include all compiled plugins (below), or include individual files as needed -->
    
  </body>
</html>
